body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
}

main {
  width: 300px;
  margin: 0 auto;
}

.button {
  text-align: center;
  padding: 10px;
}

table {
  width: 100%;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}

.textRight {
  text-align: right;
}
